<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firsttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstTest">
        <activity
            android:name=".show_item_etud"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".show_item_prof"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".adminUI.ListEtud"
            android:exported="false" />
        <activity
            android:name=".adminUI.ListProfUpd"
            android:exported="false" />
        <activity
            android:name=".ProfileProf"
            android:exported="false" />
        <activity
            android:name=".ProfileEtud"
            android:exported="false" />
        <activity
            android:name=".adminUI.ProfileAdmin"
            android:exported="false" />
        <activity
            android:name=".AjouterProf"
            android:exported="false"
           />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".DashboardProf"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>